Source: kurento-gladstone
Maintainer: NaevaTec <info@naevatec.com>
Priority: optional
Build-Depends: debhelper (>= 9),
 cmake,
 pkg-config
Standards-Version: 4.0.0
Homepage: www.kurento.org
Vcs-Browser: https://
Vcs-Git: https://

Package: kurento-gladstone
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kurento GladStone G729 codec

Package: kurento-gladstone-dev
Architecture: any
Section: libdevel
Depends: kurento-gladstone (= ${binary:Version})
Description: Kurento GladStone G729 codec - Development files

Package: kurento-gladstone-dbg
Architecture: any
Section: debug
Depends: kurento-gladstone (= ${binary:Version})
Description: Kurento GladStone G729 codec - Debug symbols
